.sidebar {
    flex: 1;
    height: 100vh;
    background-color: #fff;
    position: sticky;
    top: 60px;
}
.link-admin,
.link-admin:hover {
    text-decoration: none;
    color: inherit;
}

.otherspage {
    flex: 4;
}
.sidebarWrapper {
    margin: 40px 30px;
    color: #2e527b;
    text-align: left;
}
.sidebarMenu {
    margin-bottom: 10px;
}
.sidebarTitile {
    font-size: 24px;
    color: #2289ff;
    font-weight: 700;
}
.sidebarList {
    padding: 5px;
    list-style: none;
}
.sidebarListItem {
    padding: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.sidebarListItem:hover,
.sidebarListItem:active,
.sidebarListItem:focus {
    background-color: #12c6ae;
    color: #fff;
    font-weight: bold;
}
.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}
