/* Snowflakes.css */
@keyframes spin {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-360deg); }
  50% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
}
.snowflake {
    position: fixed;
    top: -50px;
    color: rgb(223, 223, 223);
    user-select: none;
    z-index: 9999;
    font-weight: 800;
    opacity: 0;
    animation-name: snowfall, drift,spin;
    animation-timing-function: linear;
  }
  
  @keyframes snowfall {
    0% {
      top: -10%;
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    100% {
      top: 100%;
      opacity: 0.4;
    }
  }
  
  @keyframes drift {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(50px); /* Điều chỉnh giá trị này để thay đổi độ nghiêng của chuyển động */
    }
  }
  